@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&display=swap');

:root {
    --lightblue: #fbfbff;
    --blue: #bdd5ea;
    --darkblue: #577399;
    --gray: #2e3842;
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Open Sans", sans-serif;
    background-color: var(--lightblue);
    color: var(--gray);
    font-size: 2vh;
    padding: 0vh 1vh;
    max-width: 600px;
    font-size: 14px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    background-color: var(--lightblue);
    color: var(--gray);
    gap: 20px;
    width: 100%;
}

.footer {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    gap: 8px;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.tab {
    color: var(--darkblue);
}

#headshot {
    width: 180px;
    border-radius: 90px;
}
  
h1 {
    font-family: "Battambang", sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}